<div class="container p-5 pb-0 mb-0" style="background-color: #c4c4c4;">
    <h1 class="mt-3 text-center">LOGIN</h1>
        <form action="/login" method="POST" class="p-5">
            <div class="input-group mb-3">
                <span class="input-group-text">Username:</span>		
                <input class="form-control" type="text" name="username" id="username" value="" placeholder="Username..." required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Password :</span>
                <input class="form-control" type="password" name="password" id="password" value="" placeholder="Password..." required>
            </div>
            <div class="text-center mt-5 mb-1">
                <!--<input type="hidden" name="token" value="">-->
                <button class="btn text-white btn-lg" style="background-color: #396FAE;" type="submit" name="submit">LOG IN</button>
            </div>
        </form>
        
</div>
<script>
    //let name = document.getElementById('username').value;
</script>