<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<title>Real Time Chat</title>
</head>
<body>
<nav>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Register</a></li>
<li><a href="#">Login</a></li>
<li><a href="#">Logout</a></li>
</ul>
</nav>
<div class="register">
<h1>Register</h1>
<form action="/register" method="POST">
<div class="email">
<label for="email" class="email">Email:</label>
<input type="email" class="form-control" id="email" name="email">
</div>
<div class="username">
<label class="username" for="username">Username:</label>		
<input class="form-control" id="username" type="text" name="username" value="" placeholder="Username..." autocomplete="off" required autofocus>
</div>
<div class="pwd">
<label for="password">Password :</label>
<input class="form-control" id= "password" type="password" name="password" value="" placeholder="Password..." autocomplete="off" required>
</div>
<div class="pwd_confirm">
<label for="password_confirm">Confirm Password :</label>
<input class="form-control" id= "password_confirm" type="password" name="password_confirm" value="" placeholder="Password..." autocomplete="off" required>
</div>
<div class="button">
<!--<input type="hidden" name="token" value="">-->
<button class="submit" type="submit" name="submit">Register</button>
</div>
</form>
</div>
<div class="login">
<h1>Login</h1>
<form action="/login" method="POST"></form>
<div class="username">
<label class="username" for="username">Username:</label>		
<input class="input" type="text" name="username" value="" placeholder="Username..." autocomplete="off" required autofocus>
</div>
<div class="pwd">
<label for="password">Password :</label>
<input class="input" type="password" name="password" value="" placeholder="Password..." autocomplete="off" required>
</div>
<div class="button">
<!--<input type="hidden" name="token" value="">-->
<button class="submit" type="submit" name="submit">Log in</button>
</div>
</form>
</div>
</body>
</html>
