
  <head>
   <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form" action="/chat">
      <input id="nameImp" autocomplete="off" placeholder="name" />
      <input id="input" autocomplete="off" />
      <button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
      
        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');
      
        form.addEventListener('submit', function(e) {
          e.preventDefault();
          console.log(input)
          console.log(nameImp)
          if (input.value) {
            socket.emit('chat message', {
                text: input.value,
                author: nameImp.value
            });
            input.value = '';
          }
        });
      
        socket.on('chat message', function(msg) {
          var item = document.createElement('li');
          item.textContent = 'from: '+msg.author+'; '+msg.text;
          messages.appendChild(item);
          window.scrollTo(0, document.body.scrollHeight);
        });
      </script>
  </body>
</html>