<form action="/register" method="POST">
    <div class="email">
        <label for="email" class="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="username">
        <label class="username" for="username">Username:</label>		
        <input class="form-control" id="username" type="text" name="username" value="" placeholder="Username..." autocomplete="off" required autofocus>
    </div>
    <div class="pwd">
        <label for="password">Password :</label>
        <input class="form-control" id= "password" type="password" name="password" value="" placeholder="Password..." autocomplete="off" required>
    </div>
    <div class="pwd_confirm">
        <label for="password_confirm">Confirm Password :</label>
        <input class="form-control" id= "password_confirm" type="password" name="password_confirm" value="" placeholder="Password..." autocomplete="off" required>
    </div>
    <div class="button">
        <button class="submit" type="submit" name="submit">Register</button>
    </div>
        
</form>